*.cache
*.sw*

config/fish/credentials.fish
config/fish/fish_history
config/fish/fishd.*

# From random tools that dump stuff into .config by themselves.
gtk*
config/hub
config/configstore/update-notifier-npm.json